# Libraries

In [20]:
import pandas as pd
import math
import numpy as np

# Generating dataset baseline - Alabama state

In [21]:
# gowalla/checkins.csv é o arquivo gowalla_geo_checkins.csv gerado pelo Paulo
# g_dataset = pd.read_csv('../Dados/checkins_data/general/gowalla_geo_checkins.csv', index_col=False, usecols = ['userid', 'datetime', 'lat', 'lng', 'placeid', 'categoryid', 'NAME'])
g_dataset = pd.read_csv('checkins_data/checkins_local/checkins_local_Alabama.csv', index_col=False, usecols = ['userid', 'datetime', 'lat', 'lng', 'placeid', 'categoryid'])

In [22]:
g_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4279 entries, 0 to 4278
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   userid      4279 non-null   int64
 1   placeid     4279 non-null   int64
 2   datetime    4279 non-null   object
 3   categoryid  4279 non-null   int64
 4   lat         4279 non-null   float64
 5   lng         4279 non-null   float64
dtypes: float64(2), int64(3), object(1)
memory usage: 200.7+ KB

In [23]:
g_dataset['country'] = 'United States'
g_dataset['state'] = 'Alabama'

In [24]:
# datetime converter
g_dataset['datetime'] = pd.to_datetime(g_dataset['datetime'])
order_cols = ['userid', 'categoryid', 'placeid', 'datetime', 'lat', 'lng', 'country', 'state']
g_dataset = g_dataset[order_cols]

In [25]:
cols = ['userid', 'category', 'placeid', 'local_datetime', 'latitude', 'longitude', 'country_name', 'state_name']
# Criar um dicionário que mapeia os nomes atuais das colunas para os novos nomes
maps = dict(zip(g_dataset.columns, cols))

# Renomear as colunas usando o método rename()
g_dataset = g_dataset.rename(columns=maps)

In [26]:
# category_names.csv é o arquivo category_names.csv gerado pelo Paulo

categories = pd.read_csv('checkins_data/general/category_names.csv')

In [27]:
g_dataset = pd.merge(g_dataset, categories, left_on="category", right_on="categoryid")
g_dataset['category'] = g_dataset['name']
g_dataset.drop(['name', 'categoryid'], axis=1, inplace=True)

In [28]:
g_dataset

,userid,category,placeid,local_datetime,latitude,longitude,country_name,state_name
0,1338,Travel,16772,2010-03-22 15:21:29+00:00,30.681178,-88.244226,United States,Alabama
1,1338,Travel,16772,2010-03-19 23:11:53+00:00,30.681178,-88.244226,United States,Alabama
2,162577,Travel,16772,2010-03-22 11:53:35+00:00,30.681178,-88.244226,United States,Alabama
3,162577,Travel,16772,2010-03-21 21:20:12+00:00,30.681178,-88.244226,United States,Alabama
4,174066,Travel,16772,2010-03-22 12:03:25+00:00,30.681178,-88.244226,United States,Alabama
...,...,...,...,...,...,...,...,...
4274,8031,Nightlife,749276,2010-11-09 03:53:42+00:00,34.739341,-86.601423,United States,Alabama
4275,8031,Nightlife,659737,2010-11-09 03:52:59+00:00,34.731877,-86.585701,United States,Alabama
4276,8031,Nightlife,760168,2010-11-08 23:33:47+00:00,34.717348,-86.672453,United States,Alabama
4277,14410,Nightlife,286546,2010-09-29 03:20:24+00:00,30.281334,-87.518388,United States,Alabama
4278,14410,Nightlife,286546,2010-06-17 02:46:28+00:00,30.281334,-87.518388,United States,Alabama

In [29]:
g_dataset.to_csv('gowalla/checkins.csv', index=False)